.container {
  padding-top: 15px;
  display: grid;
  grid-template-columns: auto 100px 100px;
  grid-template-rows: auto auto 30px;
}

.username {
  grid-column: 1 / span 2;
}

.btn-load-more {
  grid-row: 3;
  grid-column: 2 / span 2;
}

.repo-list {
  grid-column: 1 / span 3;
}

.loader {
  grid-column: 2 / span 3;
}
