<div class="container">
  <input class="username" type="text" name="usernameField" #usernameField="ngModel"
         [(ngModel)]="username"
         (keyup.enter)="loadInitialData(usernameField.value)"
         required>

  <button class="btn-search" (click)="loadInitialData(usernameField.value)"
          [disabled]="usernameField.invalid">
    Search
  </button>

  <app-repositories-list class="repo-list"
                         [repositories]="this.repositories"
                         [isSearched]="this.isSearched">
  </app-repositories-list>

  <app-loader class="loader" *ngIf="!(repositories?.length > 0 || !isSearched)"></app-loader>

  <button class="btn-load-more" *ngIf="repositories?.length === 10"
          (click)="loadMoreData(usernameField.value)"
          [disabled]="usernameField.invalid">
    Load more...
  </button>
</div>
