<div>
  <table class="table table-striped">
    <thead>
    <th>Name</th>
    <th>Stars</th>
    <th>Forks</th>
    </thead>
    <tbody  *ngIf="!isSearched">
      <tr class="search-info">
        Click "Search" to load data
      </tr>
    </tbody>
    <tbody *ngIf="repositories?.length > 0">
    <tr *ngFor="let repo of repositories">
      <td><a [href]="repo.url" target="_blank">{{repo.name}}</a></td>
      <td>{{repo.forks}}</td>
      <td>{{repo.stars}}</td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noDataInfo>
  Click "Search" to load data
</ng-template>
<ng-template class="loader" #loader>
  <app-loader></app-loader>
</ng-template>
